{% extends 'base.html.twig' %}

{% block title %}Nueva Quedada{% endblock %}

{% block body %}
    <h1>Crear Nueva Quedada</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success mt-3">Guardar Quedada</button>
    {{ form_end(form) }}

    <div class="text-center">
        <a class="btn btn-link text-secondary text-decoration-none" href="{{ path('app_product_index') }}">
            ← Cancelar y volver al listado
        </a>
    </div>
{% endblock %}
