{% extends 'base.html.twig' %}

{% block title %}Nuevo producto{% endblock %}

{% block body %}
    <h1>Crear producto</h1>

    {{ include('product/_form.html.twig', {form: form, button_label: 'Crear'}) }}

    <p><a href="{{ path('app_product_index') }}">Volver al listado</a></p>
{% endblock %}
