{% extends 'base.html.twig' %}

{% block title %}Nuevo producto{% endblock %}

{% block body %}
    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="h4">Crear producto</h1>
            {{ include('product/_form.html.twig', {form: form, button_label: 'Crear'}) }}
            <a class="btn btn-link px-0 mt-2" href="{{ path('app_product_index') }}">Volver al listado</a>
        </div>
    </div>
    <h1>Crear producto</h1>

    {{ include('product/_form.html.twig', {form: form, button_label: 'Crear'}) }}

    <p><a href="{{ path('app_product_index') }}">Volver al listado</a></p>
{% endblock %}
